$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  font-family: 'Lato', sans-serif;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;
}

.mcn-intro {
  background: grey;
  height: 100vh;
  width: 100vw;

  .video {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    pointer-events: none;

    iframe {
      position: relative;
      width: 120%;
      height: 120%;
      margin-top: -30px;
      margin-left: -10%;
      text-align: center;
    }
  }

  .text {
    position: relative;
    z-index: 1;
    color: #EFE8E8;
    height: 320px;
    padding-top: 50vh;
    margin-top: -160px;

    h1 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 70px;
      line-height: 60px;
    }

    h2 {
      font-weight: 300;
      color: blue;
      font-size: 45px;
    }
  }

  .start {
    position: relative;
    display: block;
    background: rgba(255,255,255,0.2);
    width: 100px;
    height: 100px;
    text-indent: -1000rem;
    top: 100vh;
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mcn-themes {
  width: 100vw;
  height: 100vh;
  background: grey;
  overflow-x: scroll;

  .mcn-themes-row {
    width: 1000000px;

    .mcn-theme {
      height: 100vh;
      width: auto;
      float: left;

      .text {
        overflow-y: scroll;
        width: 250px;
        height: 100%;
        padding-bottom: 3em;
        color: #EFE8E8;
        float: left;
        cursor: pointer;

        h1 {
          font-size: 26px;
          color: blue;
        }
      }

      .hang {
        width: 0;
        opacity: 0;
        float: left;
        background: #EFE8E8;
        height: 100vh;
        pointer-events: none;
      }
    }

    .mcn-theme-intro {
      width: auto;

      .text {
        h1 {
          margin-top: 140px;
        }
      }
    }
  }

  &.is-open {
    .mcn-themes-row {
      .mcn-theme {
        .hang {
          width: 1250px;
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}
