$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

html, body {
  font-family: 'Lato', sans-serif;
}

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;

  .modal-content {
    border-radius: 0px;
    color: blue;
    font-weight: lighter;

    &::before {
      content: ' ';
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: blue 1px solid;
      display: block;
      top: 5px;
      left: 5px;
      position: absolute;
      pointer-events: none;
    }
  }

  .modal-header {
    border-bottom: 0;
  }

  .modal-title {
    color: blue;
    font-size: 26px;
    line-height: 50px;
    font-weight: lighter;
  }

  .close {
    float: right;
    font-size: 51px;
    font-weight: lighter;
    line-height: 1;
    color: blue;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    cursor: pointer;
  }
}

.interactive {
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
  -moz-box-shadow:inset 0px 0px 0px 10px #f00;
  box-shadow: inset 0px 0px 0px 3px blue;
  -webkit-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  -moz-transition: box-shadow 0.3s ease-out;
  -ms-transition: box-shadow 0.3s ease-out;
  -kthtml-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;

  &:hover {
    -webkit-box-shadow: 0px 0px 4px 2px #D50E0E;
    -moz-box-shadow: 0px 0px 4px 2px #D50E0E;
    box-shadow: 0px 0px 4px 2px #D50E0E;
    -webkit-transition: box-shadow 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out;
    -moz-transition: box-shadow 0.3s ease-out;
    -ms-transition: box-shadow 0.3s ease-out;
    -kthtml-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
    box-shadow: inset 0px 0px 0px 20px blue;
  }

  &.video {
    text-indent: -9999em;
  }
}

.mcn-intro {
  background: grey;
  height: 100vh;
  width: 100vw;

  .video {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    pointer-events: none;

    iframe {
      position: relative;
      width: 120%;
      height: 120%;
      margin-top: -30px;
      margin-left: -10%;
      text-align: center;
    }
  }

  .text {
    position: relative;
    z-index: 1;
    color: #EFE8E8;
    height: 320px;
    padding-top: 50vh;
    margin-top: -160px;

    h1 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 70px;
      line-height: 60px;
    }

    h2 {
      font-weight: 300;
      color: blue;
      font-size: 45px;
    }
  }

  .start {
    position: relative;
    display: block;
    background: rgba(255,255,255,0.2);
    width: 100px;
    height: 100px;
    text-indent: -1000rem;
    top: 100vh;
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mcn-themes {
  width: 100vw;
  height: 100vh;
  background: grey;
  overflow-x: scroll;

  .mcn-themes-row {
    width: 1000000px;

    .mcn-theme {
      height: 100vh;
      width: auto;
      float: left;

      .text {
        overflow-y: scroll;
        width: 250px;
        height: 100%;
        padding-bottom: 3em;
        color: #EFE8E8;
        float: left;
        cursor: pointer;

        h1 {
          font-size: 26px;
          color: blue;
        }
      }

      .hang {
        width: 0;
        opacity: 0;
        float: left;
        background: #EFE8E8;
        height: 100vh;
        pointer-events: none;
      }
    }

    .mcn-theme-intro {
      width: auto;

      .text {
        h1 {
          margin-top: 140px;
        }
      }
    }
  }

  &.is-open {
    .mcn-themes-row {
      .mcn-theme {
        .hang {
          width: 1250px;
          opacity: 1;
          pointer-events: auto;
        }
      }
    }
  }
}
