$icon-font-path: '../fonts/';



html, body {
  font-family: 'Lato', sans-serif;
}

body {
  overflow-x: hidden;
}

.sources {
  position: absolute;top: -110px;left: 290px;font-size: 30px;color: blue;"
}

.main {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: red;

  .modal-content {
    border-radius: 0px;
    color: blue;
    font-weight: lighter;

    &::before {
      content: ' ';
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      border: blue 1px solid;
      display: block;
      top: 5px;
      left: 5px;
      position: absolute;
      pointer-events: none;
    }
  }

  .modal-header {
    border-bottom: 0;
  }

  .modal-title {
    color: blue;
    font-size: 26px;
    line-height: 50px;
    font-weight: lighter;
  }

  .close {
    float: right;
    font-size: 51px;
    font-weight: lighter;
    line-height: 1;
    color: blue;
    text-shadow: 0 1px 0 #fff;
    opacity: 1;
    cursor: pointer;
  }
}

.interactive {
  opacity: 0;

  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-box-shadow:inset 0px 0px 0px 10px #f00;
  -moz-box-shadow:inset 0px 0px 0px 10px #f00;
  box-shadow: inset 0px 0px 0px 3px blue;
  -webkit-transition: box-shadow 0.3s ease-out;
  -o-transition: box-shadow 0.3s ease-out;
  -moz-transition: box-shadow 0.3s ease-out;
  -ms-transition: box-shadow 0.3s ease-out;
  -kthtml-transition: box-shadow 0.3s ease-out;
  transition: box-shadow 0.3s ease-out;

  &:hover {
    -webkit-box-shadow: 0px 0px 4px 2px #D50E0E;
    -moz-box-shadow: 0px 0px 4px 2px #D50E0E;
    box-shadow: 0px 0px 4px 2px #D50E0E;
    -webkit-transition: box-shadow 0.3s ease-out;
    -o-transition: box-shadow 0.3s ease-out;
    -moz-transition: box-shadow 0.3s ease-out;
    -ms-transition: box-shadow 0.3s ease-out;
    -kthtml-transition: box-shadow 0.3s ease-out;
    transition: box-shadow 0.3s ease-out;
    box-shadow: inset 0px 0px 0px 20px blue;
  }

  &.video {
    text-indent: -9999em;
  }
}

.mcn-intro {
  background: grey;
  height: 100vh;
  width: 100vw;

  .video {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: black;
    overflow: hidden;
    pointer-events: none;

    iframe {
      position: relative;
      width: 120%;
      height: 120%;
      margin-top: -30px;
      margin-left: -10%;
      text-align: center;
    }
  }

  .text {
    position: relative;
    z-index: 1;
    color: #EFE8E8;
    height: 320px;
    padding-left: 5px;
    padding-top: 50vh;
    margin-top: -100px;

    h1 {
      font-weight: 300;
      text-transform: uppercase;
      font-size: 45px;
      line-height: 60px;
    }

    h2 {
      font-weight: 500;
      font-style: italic;

      font-size: 35px;
    }
  }

  .start {
    position: relative;
    display: block;
    background: rgba(255,255,255,0.2);
    width: 100px;
    height: 100px;
    text-indent: -1000rem;
    top: 100vh;
    margin-top: -130px;
    margin-left: auto;
    margin-right: auto;
  }
}

.mcn-themes {
  width: 100vw;
  height: 100vh;
  background: grey;
  overflow-x: scroll;

  .mcn-themes-row {
    width: 1000000px;

    .mcn-theme {
      height: 100vh;
      width: auto;
      float: left;
      background-color: black;

      .text {
        overflow-y: auto;
        width: 300px;
        padding-top: 2em;
        padding-left: 20px;
        padding-right: 20px;
        height: 100%;
        padding-bottom: 3em;
        color: #EFE8E8;
        float: left;
        cursor: pointer;

        h1 {
          font-size: 26px;
          color: blue;
        }
      }

      .hang {
        width: 0;
        opacity: 0;
        float: left;
        background: white;
        height: 100vh;
        pointer-events: none;
        transition: 0.5s all ease-out;
        transition-property: opacity;
      }
    }

    .mcn-theme-intro {
      width: auto;
      background: url(../images/img-01.png) no-repeat bottom left;

      .text {
        h1 {
          margin-top: 140px;
        }
      }
    }

    .mcn-theme-0 {
      background: url(../images/img-02.png) no-repeat bottom left;
    }

    .mcn-theme-1 {
      background: url(../images/img-03.png) no-repeat bottom left;
    }

    .mcn-theme-2 {
      background: url(../images/img-04.png) no-repeat bottom left;
    }

    .mcn-theme-3 {
      background: url(../images/img-05.png) no-repeat bottom left;
    }

    .mcn-theme-4 {
      background: url(../images/img-01.png) no-repeat bottom left;
    }
  }

  &.is-open {
    .mcn-themes-row {
      .mcn-theme {
        .hang {
          width: 3500px;
          height:800px;
          opacity: 1;
          pointer-events: auto;

          .interactive {
            opacity: 1;
          }
        }
      }
    }
  }
}

a.black {
  font-weight: normal;
  color: black;
}

.mcn-stakeholders {
  width: 100vw;
  height: 100vh;
  background: white;
  overflow: hidden;

  ul, li {
    margin-left: 0;
    padding-left: 0;
    list-style: none;
  }

  .card {
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 2;
    background: white;
    width: 800px;
    left: 390px;
    margin-top: -120px;
    border: 1px solid blue;
    height: 90vh;
    color: blue;
    padding: 0 3em;
    transition: opacity 250ms;

    .text {
      height: 65%;
      overflow-y: scroll;
    }

    .close {
      margin-top: 0px;
      margin-right: -30px;
    }

    h1 {
      margin-top: 110px;
      font-size: 26px;
      font-weight: lighter;
    }
  }

  .list {
    padding-left: 2em;

    h2 {
      font-size: 22px;
      font-weight: lighter;
      margin-bottom: 4em;
    }

    ul {
      top: 6%;
    }

    ul li a {
      font-size: 24px;
      font-weight: lighter;
      color: blue;

      &:hover, &.is-selected {
        text-decoration: none;
        color: blue;
        font-weight: normal;
      }
    }
  }

  .passive-list {
    padding-top: 10px;
  }
}

.mcn-about {
  height: 100vh;
  background: white;
  position: relative;

  .img {
    background: #CCCCCC;
    width: 50vw;
    height: 100vh;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 0;
  }

  .reset {
    position: absolute;
    display: block;
    background: rgba(255,255,255,0.8);
    width: 100px;
    height: 100px;
    text-indent: -1000rem;
    top: 100vh;
    margin-top: -130px;
    margin-left: 30px;
  }

  .cartouche {
    position: absolute;
    font-weight: lighter;
    font-size: 12px;
    padding: 10px;
    border: 1px blue solid;
    color: blue;
    top: 100vh;
    margin-top: -100px;
    right: 20px;
  }

  .credits {
    position: absolute;
    height: 278px;
    width: 100vw;
    z-index: 10;
    margin-top: calc(50vh - 139px);
  }

  h1, li {
    text-align: center;
    font-size: 24px;
    font-weight: lighter;
    color: blue;
  }

  h1 {
    margin-bottom: 2em;
  }

  ul, li {
    text-align: center;
    list-style: none;
    padding-left: 0;
  }
}
